In [39]:
# If TEIS had used alternative business rules for calculating ECO data for children with BDI for entrance and exit within the 2023-24 dataset, 
# how would that have impacted the federal reporting? 

# Use new business rules to recalculate ECO data for children with BDI-2 or BDI-3 as entrance assessment
# Re-calculate progress categories and summary statements for entire dataset

In [ ]:
# TEIS noted a dramatic increase in the number of children in progress category A using their business rules for 2023-24. 
# What are some demographic qualities of the children in this progress category, including: 
#  Point of Entry office (POE)
#  Length of time in services
#  Length between assessment and exit
#  Length between entrance and exit assessments.
#  Difference between entrance and exit assessment instruments.
#  Age at assessment/exit

In [ ]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [1]:
import pandas as pd

In [2]:
bdi2_df = pd.read_csv(r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\NSS data_BDI2 scores_20200101-20230131_20241106.csv", low_memory=False)
bdi3_df = pd.read_excel(r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\NSS data_BDI3 Scores 20230101 20240630_Compiled_20241107.xlsx")
bdi3_exit = bdi3_df[bdi3_df['Program Label']=='BDI-3 Milestone or Exit Evaluation'].dropna(axis=1,how='all')

In [13]:
bdi2_df = bdi2_df[(bdi2_df['studentAssessmentID']!=7888005)]
bdi2_df['testDate'] = pd.to_datetime(bdi2_df['testDate'])

In [15]:
bdi2_student_dq = bdi2_df.groupby('Student TEIDS ID')['DQScore'].mean()
dq_threshold = 78

In [17]:
bdi2_dq_scores = bdi2_student_dq[bdi2_student_dq > dq_threshold]

In [19]:
bdi2_dq_scores.describe()

count    13149.000000
mean        89.400441
std          7.457827
min         78.100000
25%         83.600000
50%         88.400000
75%         94.200000
max        129.600000
Name: DQScore, dtype: float64

In [21]:
bdi2_df

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [15]:
#bdi2_df.drop_duplicates(subset=['Student TEIDS ID'])

In [23]:
domains = ['Adaptive', 'Social-Emotional', 'Communication', 'Motor', 'Cognitive']
domain_df = bdi2_df[bdi2_df['domainText'].isin(domains)]
domain_df

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
9,2224693,8625078,138104125,52101,6,Adaptive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
13,2224693,8625078,138104129,52101,13,Communication,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,316.0,304.0,327.0,2
14,2224693,8625078,138104130,52101,16,Motor,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,327.0,319.0,334.0,2
16,2224693,8625078,138104132,52101,20,Cognitive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,369.0,358.0,379.0,2
31,1940149,7779679,123249289,416571,6,Adaptive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,459.0,451.0,467.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325666,2319430,8761872,140602512,NaN,20,Cognitive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,380.0,369.0,390.0,2
325677,2319431,8761874,140602541,NaN,6,Adaptive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,<,410.0,402.0,418.0,2
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2

In [25]:
subdomains = ['Self-Care', 'Personal Responsibility', 'Adult Interaction', 'Peer Interaction', 'Self-Concept and Social Role', 'Receptive Communication', 'Expressive Communication', 'Gross Motor', 'Fine Motor', 'Perceptual Motor', 'Attention and Memory', 'Reasoning and Academic Skills', 'Perception and Concepts']
subdomain_df = bdi2_df[bdi2_df['domainText'].isin(subdomains)]
subdomain_df

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325676,2319431,8761874,140602540,NaN,23,Perception and Concepts,2.0,ItemDetails,21886.0,2023-01-26,...,NaN,1.0,NaN,NaN,NaN,NaN,439.0,425.0,453.0,2
325678,2319431,8761874,140602542,NaN,8,Personal Responsibility,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325680,2319431,8761874,140602544,NaN,11,Peer Interaction,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [97]:
bdi3_df

,Last Name,First Name,Gender,Date of Birth,Location - Root Level (PC),Location - Root Level (AH),Location - Sub Level 1,Location - Sub Level 2,Location - Sub Level 3,Child ID,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474074,...,13.0,4.0,2,25,1990-01-01 00:00:00,464.0,450 - 479,2.00,30.0,8
1,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474186,...,24.0,8.0,25,40,68/90,510.0,502 - 517,0.67,43.0,36
2,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Upper Cumberland,NaN,NaN,474641,...,26.0,9.0,37,42,77/90,514.0,507 - 522,0.33,47.0,43
3,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Southwest,NaN,NaN,474848,...,17.0,6.0,9,32,25/90,487.0,476 - 497,1.33,37.0,22
4,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,South Central,NaN,NaN,474967,...,12.0,3.0,1,22,1990-01-01 00:00:00,451.0,429 - 473,2.33,27.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34974,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Memphis Delta,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8
34975,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Southeast Tennessee,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8
34976,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,NaN,...,11.0,5.0,5,18,1990-02-01 00:00:00,437.0,421 - 453,1.67,33.0,15
34977,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,First Tennessee,NaN,NaN,NaN,...,9.0,8.0,25,12,58/90,411.0,392 - 431,0.67,43.0,36
34978,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,5777288,...,12.0,8.0,25,22,66/90,451.0,429 - 473,0.67,43.0,36

In [27]:
bdi3_exit

,Location - Root Level (AH),Location - Sub Level 1,Child ID,TEIDS Child ID,IFSP,IEP,Funding Sources,Free Reduced Lunch,Program Label,Adaptive Sum of Scaled Scores,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
5,Tennessee Early Intervention Sys,Upper Cumberland,474988,474988.0,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,16.0,...,32.0,11.0,63,48,93/90,527.0,520 - 534,0.33,53.0,57
39,Tennessee Early Intervention Sys,Upper Cumberland,478244,478244.0,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,7.0,...,13.0,4.0,2,25,1990-01-01 00:00:00,464.0,450 - 479,2.00,30.0,8
57,Tennessee Early Intervention Sys,Upper Cumberland,479801,479801.0,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,17.0,...,28.0,9.0,37,44,85/90,519.0,511 - 526,0.33,47.0,43
101,Tennessee Early Intervention Sys,Northwest,481710,481710.0,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,19.0,...,17.0,9.0,37,32,82/90,487.0,476 - 497,0.33,47.0,43
103,Tennessee Early Intervention Sys,Upper Cumberland,481768,481768.0,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,28.0,...,28.0,12.0,75,44,98/90,519.0,511 - 526,0.67,57.0,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34926,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,2.0,...,9.0,2.0,<1,12,<1/90,411.0,392 - 431,2.67,23.0,<1
34940,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,8.0,...,10.0,3.0,1,15,1990-01-01 00:00:00,426.0,408 - 444,2.33,27.0,1
34945,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,17.0,...,15.0,8.0,25,29,61/90,477.0,466 - 488,0.67,43.0,36
34958,Tennessee Early Intervention Sys,Memphis Delta,NaN,NaN,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,11.0,...,8.0,1.0,<1,8,<1/90,395.0,376 - 415,3.00,20.0,<1
34964,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,No,No,NaN,No,BDI-3 Milestone or Exit Evaluation,16.0,...,11.0,5.0,5,18,1990-02-01 00:00:00,437.0,421 - 453,1.67,33.0,15

In [29]:
bdi3_dq = bdi3_df[['TEIDS Child ID', 'BDI-3 Total Developmental Quotient']].dropna()

In [31]:
bdi3_dq

       TEIDS Child ID  BDI-3 Total Developmental Quotient
0            474074.0                                86.0
1            474186.0                                98.0
2            474641.0                                95.0
3            474848.0                                85.0
4            474967.0                                70.0
...               ...                                 ...
34656        583637.0                               101.0
34657        583639.0                                92.0
34658        583720.0                                57.0
34659        564852.0                               114.0
34660        576055.0                                84.0

[34593 rows x 2 columns]

In [33]:
bdi3_cln = bdi3_df[['TEIDS Child ID', 'Program Label', 'BDI-3 Total Developmental Quotient', 'Adaptive-Self Care Z-Score', 'Adaptive-Personal Responsibility Z-Score', 'Social Emotional-Adult Interaction Z-Score', 'Social Emotional-Peer Interaction Z-Score', 'Social Emotional-Self Concept / Social Role Z-Score', 'Communication-Receptive Communication Z-Score', 'Communication-Expressive Communication Z-Score', 'Motor-Gross Motor Z-Score', 'Motor-Fine Motor Z-Score', 'Motor-Perceptual Motor Z-Score', 'Cognitive-Attention and Memory Z-Score', 'Cognitive-Reasoning / Academic Skills Z-Score', 'Cognitive-Perception and Concepts Z-Score']].dropna()

In [35]:
bdi3_cln

,TEIDS Child ID,Program Label,BDI-3 Total Developmental Quotient,Adaptive-Self Care Z-Score,Adaptive-Personal Responsibility Z-Score,Social Emotional-Adult Interaction Z-Score,Social Emotional-Peer Interaction Z-Score,Social Emotional-Self Concept / Social Role Z-Score,Communication-Receptive Communication Z-Score,Communication-Expressive Communication Z-Score,Motor-Gross Motor Z-Score,Motor-Fine Motor Z-Score,Motor-Perceptual Motor Z-Score,Cognitive-Attention and Memory Z-Score,Cognitive-Reasoning / Academic Skills Z-Score,Cognitive-Perception and Concepts Z-Score
0,474074.0,BDI-3 Annual Evaluation,86.0,1.33,1.67,1.33,0.33,0.67,2.33,1.67,0.67,0.67,1.67,1.00,0.33,2.00
1,474186.0,BDI-3 Annual Evaluation,98.0,0.00,1.33,1.00,0.33,0.00,0.33,0.67,0.67,0.33,0.33,1.00,0.33,0.67
2,474641.0,BDI-3 Annual Evaluation,95.0,1.00,0.33,0.33,1.00,0.33,0.00,0.33,0.33,0.33,0.33,0.33,0.67,0.33
3,474848.0,BDI-3 Annual Evaluation,85.0,2.33,1.67,0.00,0.67,1.67,0.33,0.33,1.00,0.33,0.33,0.67,0.00,1.33
4,474967.0,BDI-3 Annual Evaluation,70.0,2.00,1.00,0.00,0.33,1.00,2.33,2.00,2.33,1.00,2.00,1.00,1.67,2.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34628,583314.0,BDI-3 Eligibility Evaluation,91.0,1.67,0.00,0.00,0.33,0.67,1.67,3.00,0.00,1.33,0.33,0.33,0.33,1.00
34629,583315.0,BDI-3 Eligibility Evaluation,104.0,0.67,0.33,0.67,0.33,0.00,0.00,2.00,0.67,1.33,0.67,0.33,0.33,0.67
34637,583456.0,BDI-3 Eligibility Evaluation,85.0,1.33,0.33,0.33,0.67,0.00,1.33,1.67,0.33,0.33,2.33,0.33,1.00,1.67
34643,583529.0,BDI-3 Eligibility Evaluation,103.0,0.33,0.67,0.00,1.33,0.33,1.00,2.00,0.33,1.33,1.33,0.67,0.33,0.33
34660,576055.0,BDI-3 Eligibility Evaluation,84.0,1.33,0.00,1.00,3.00,0.33,1.67,2.00,0.33,1.00,0.33,1.00,1.00,1.33

In [33]:
lesser_than_bdi3 = bdi3_cln <= -1.50
greater_than_bdi3 = bdi3_cln >= -1.50

TypeError: '<=' not supported between instances of 'str' and 'float'

In [37]:
z_score = -1.50

In [39]:
z_score_columns = [col for col in bdi3_cln.columns if "Z-Score" in col]

In [41]:
greater_bdi3_cln = bdi3_cln.copy()
for col in z_score_columns:
    greater_bdi3_cln = greater_bdi3_cln[greater_bdi3_cln[col] >= z_score]

greater_bdi3_cln

,TEIDS Child ID,Program Label,BDI-3 Total Developmental Quotient,Adaptive-Self Care Z-Score,Adaptive-Personal Responsibility Z-Score,Social Emotional-Adult Interaction Z-Score,Social Emotional-Peer Interaction Z-Score,Social Emotional-Self Concept / Social Role Z-Score,Communication-Receptive Communication Z-Score,Communication-Expressive Communication Z-Score,Motor-Gross Motor Z-Score,Motor-Fine Motor Z-Score,Motor-Perceptual Motor Z-Score,Cognitive-Attention and Memory Z-Score,Cognitive-Reasoning / Academic Skills Z-Score,Cognitive-Perception and Concepts Z-Score
0,474074.0,BDI-3 Annual Evaluation,86.0,1.33,1.67,1.33,0.33,0.67,2.33,1.67,0.67,0.67,1.67,1.00,0.33,2.00
1,474186.0,BDI-3 Annual Evaluation,98.0,0.00,1.33,1.00,0.33,0.00,0.33,0.67,0.67,0.33,0.33,1.00,0.33,0.67
2,474641.0,BDI-3 Annual Evaluation,95.0,1.00,0.33,0.33,1.00,0.33,0.00,0.33,0.33,0.33,0.33,0.33,0.67,0.33
3,474848.0,BDI-3 Annual Evaluation,85.0,2.33,1.67,0.00,0.67,1.67,0.33,0.33,1.00,0.33,0.33,0.67,0.00,1.33
4,474967.0,BDI-3 Annual Evaluation,70.0,2.00,1.00,0.00,0.33,1.00,2.33,2.00,2.33,1.00,2.00,1.00,1.67,2.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34628,583314.0,BDI-3 Eligibility Evaluation,91.0,1.67,0.00,0.00,0.33,0.67,1.67,3.00,0.00,1.33,0.33,0.33,0.33,1.00
34629,583315.0,BDI-3 Eligibility Evaluation,104.0,0.67,0.33,0.67,0.33,0.00,0.00,2.00,0.67,1.33,0.67,0.33,0.33,0.67
34637,583456.0,BDI-3 Eligibility Evaluation,85.0,1.33,0.33,0.33,0.67,0.00,1.33,1.67,0.33,0.33,2.33,0.33,1.00,1.67
34643,583529.0,BDI-3 Eligibility Evaluation,103.0,0.33,0.67,0.00,1.33,0.33,1.00,2.00,0.33,1.33,1.33,0.67,0.33,0.33
34660,576055.0,BDI-3 Eligibility Evaluation,84.0,1.33,0.00,1.00,3.00,0.33,1.67,2.00,0.33,1.00,0.33,1.00,1.00,1.33

In [43]:
lesser_bdi3_cln = bdi3_cln.copy()
for col in z_score_columns:
    lesser_bdi3_cln = lesser_bdi3_cln[lesser_bdi3_cln[col] <= z_score]

lesser_bdi3_cln

Empty DataFrame
Columns: [TEIDS Child ID, Program Label, BDI-3 Total Developmental Quotient, Adaptive-Self Care Z-Score, Adaptive-Personal Responsibility Z-Score, Social Emotional-Adult Interaction Z-Score, Social Emotional-Peer Interaction Z-Score, Social Emotional-Self Concept / Social Role Z-Score, Communication-Receptive Communication Z-Score, Communication-Expressive Communication Z-Score, Motor-Gross Motor Z-Score, Motor-Fine Motor Z-Score, Motor-Perceptual Motor Z-Score, Cognitive-Attention and Memory Z-Score, Cognitive-Reasoning / Academic Skills Z-Score, Cognitive-Perception and Concepts Z-Score]
Index: []

In [51]:
FT = First 37601
ET = East 37920
SE = Southeast 37406
UC = Upper Cumberland 38506
GN = Greater Nashville 37243
SC = South Central 37130
NW = Northwest 38238
SW = Southwest 38301
MD = Memphis Delta 38134

SyntaxError: invalid syntax (1274572940.py, line 1)

In [53]:
poe_scores23 = {
    'FT23': 585,
    'ET23': 1075,
    'SE23': 517,
    'UC23': 673,
    'GN23': 1118,
    'SC23': 935,
    'NW23': 303,
    'SW23': 338,
    'MD23': 937
}

In [55]:
poe_scores24 = {
    'FT24': 548,
    'ET24': 853,
    'SE24': 343,
    'UC24': 448,
    'GN24': 757,
    'SC24': 817,
    'NW24': 203,
    'SW24': 227,
    'MD24': 632
}

In [57]:
Outcome A 23 - 24 include GN at 122
Outcome A 23 - 23 include GN and SW at 9 respectfully

SyntaxError: invalid syntax (1389291178.py, line 1)

In [53]:
filepath = r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx"
eco_sheet = "ECO with Exit23-24 "
eco_df = pd.read_excel(filepath, sheet_name=eco_sheet)

In [54]:
eco_df child ID, test date, raw score, z score, dq for each subdomain domain

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry SOCIAL_SCALE,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore)
0,GN,473991,NaN,2020-01-07,1.0,1.0,1.0,2022-12-27,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2020-02-13,1.0,1.0,1.0,2023-10-26,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ET,474575,NaN,2020-01-17,3.0,5.0,4.0,2020-07-29,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NW,474623,NaN,2019-01-22,3.0,1.0,2.0,2022-12-16,4.0,4.0,...,3.0,6.0,2.0,-1.8,-1.27,-1.33,-1.300,-2.67,-1.67,-2.17
4,SW,474848,NaN,2021-07-09,3.0,3.0,6.0,2023-08-04,7.0,7.0,...,3.0,1.0,6.0,-2.0,-3.00,-2.47,-2.735,-1.67,-0.67,-1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,SC,579717,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,SC,579729,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ET,580243,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,FT,580375,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,MD,580840,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
eco_df[eco_df['DISTRICT', 'CHILD_ID','<Calc> Months in Program','<Calc> Entrance Age (months)','<Calc> Day count']]

In [103]:
sum(eco_df.value_counts('BDI 3\nECO_Entry_DATE'))

4102

In [95]:
sum(eco_df.value_counts('BDI2 Entry Date'))

3501

In [87]:
eco_df.value_counts('DISTRICT')

DISTRICT
GN    1846
ET    1588
MD    1493
SC    1417
UC     980
FT     906
SE     793
SW     530
NW     446
Name: count, dtype: int64

In [73]:
gn_kids = eco_df[eco_df['DISTRICT'] == 'GN'][['DISTRICT', 'CHILD_ID','<Calc> Months in Program','<Calc> Entrance Age (months)','<Calc> Day count']]

In [89]:
et_kids = eco_df[eco_df['DISTRICT'] == 'ET'][['DISTRICT', 'CHILD_ID','<Calc> Months in Program','<Calc> Entrance Age (months)','<Calc> Day count']]

In [91]:
et_kids

,DISTRICT,CHILD_ID,<Calc> Months in Program,<Calc> Entrance Age (months),<Calc> Day count
2,ET,474575,44,46,194.0
10,ET,476635,42,44,1072.0
13,ET,477266,42,45,868.0
16,ET,477779,43,46,1074.0
31,ET,481496,39,41,1088.0
...,...,...,...,...,...
9953,ET,576530,2,7,NaN
9955,ET,576778,4,38,NaN
9970,ET,577618,1,18,NaN
9973,ET,577709,2,37,NaN
9996,ET,580243,0,19,NaN

In [75]:
gn_kids = gn_kids.rename(columns={'CHILD_ID':'TEIDS_ID'})

In [77]:
gn_kids = gn_kids.rename(columns={'<Calc> Day count':'Days between entrance/exit assessments'})

In [79]:
gn_kids['TEIDS_ID'] = gn_kids['TEIDS_ID'].astype(str)

def lessthan6(cell):
    return len(cell) < 6

gn_kids['TEIDS_ID'].apply(lessthan6).sum()

0

In [81]:
gn_kids

,DISTRICT,TEIDS_ID,<Calc> Months in Program,<Calc> Entrance Age (months),Days between entrance/exit assessments
0,GN,473991,44,47,1085.0
1,GN,474186,46,48,1351.0
18,GN,478108,14,47,341.0
28,GN,480572,37,48,1310.0
37,GN,482932,26,39,656.0
...,...,...,...,...,...
9957,GN,576876,2,37,NaN
9964,GN,577008,1,35,NaN
9965,GN,577034,0,26,NaN
9980,GN,578236,1,25,NaN
9987,GN,579297,0,4,NaN

In [ ]:
what is entrance and what is the exit assessment instrument and what is the difference between these two dates for each kid

In [85]:
eco_df

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry SOCIAL_SCALE,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore)
0,GN,473991,NaN,2020-01-07,1.0,1.0,1.0,2022-12-27,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2020-02-13,1.0,1.0,1.0,2023-10-26,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ET,474575,NaN,2020-01-17,3.0,5.0,4.0,2020-07-29,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NW,474623,NaN,2019-01-22,3.0,1.0,2.0,2022-12-16,4.0,4.0,...,3.0,6.0,2.0,-1.8,-1.27,-1.33,-1.300,-2.67,-1.67,-2.17
4,SW,474848,NaN,2021-07-09,3.0,3.0,6.0,2023-08-04,7.0,7.0,...,3.0,1.0,6.0,-2.0,-3.00,-2.47,-2.735,-1.67,-0.67,-1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,SC,579717,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,SC,579729,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ET,580243,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,FT,580375,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,MD,580840,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
eco_df['AEPSi\\ECO_Entry_DATE\n'] = pd.to_datetime(eco_df['AEPSi\\ECO_Entry_DATE\n'])
eco_df['AEPSi\\ECO_Exit_DATE\n'] = pd.to_datetime(eco_df['AEPSi\\ECO_Exit_DATE\n'])

KeyError: 'AEPSi\\ECO_Entry_DATE\n'

In [ ]:
eco_df['ECO_Duration'] = eco_df['AEPSi\\ECO_Entry_DATE\n'] - eco_df['AEPSi\\ECO_Exit_DATE\n']

In [109]:
base_df = pd.read_csv(r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\TEIDS Child IDs")

In [121]:
base_df = base_df.rename(columns={'TEIDS Child ID':'TEIDS ID'})
base_df

      TEIDS ID
0       474848
1       474967
2       475907
3       476193
4       478004
...        ...
4022    564474
4023    564596
4024    565093
4025    565305
4026    565335

[4027 rows x 1 columns]

In [125]:
bdi2_df = bdi2_df.rename(columns={'Student TEIDS ID':'TEIDS ID'})
bdi2_df

,StudentID,studentAssessmentID,resultStudentDomainID,TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [137]:
bdi2_df['TEIDS ID'] = bdi2_df['TEIDS ID'].astype(str)
base_df['TEIDS ID'] = base_df['TEIDS ID'].astype(str)

In [161]:
base_df = base_df.merge(bdi2_df[['TEIDS ID', 'rawScore']], on='TEIDS ID', how='left')

In [147]:
eco_df = eco_df.rename(columns={'CHILD_ID':'TEIDS ID'})

In [149]:
eco_df

,DISTRICT,TEIDS ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry SOCIAL_SCALE,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore)
0,GN,473991,NaN,2020-01-07,1.0,1.0,1.0,2022-12-27,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2020-02-13,1.0,1.0,1.0,2023-10-26,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ET,474575,NaN,2020-01-17,3.0,5.0,4.0,2020-07-29,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NW,474623,NaN,2019-01-22,3.0,1.0,2.0,2022-12-16,4.0,4.0,...,3.0,6.0,2.0,-1.8,-1.27,-1.33,-1.300,-2.67,-1.67,-2.17
4,SW,474848,NaN,2021-07-09,3.0,3.0,6.0,2023-08-04,7.0,7.0,...,3.0,1.0,6.0,-2.0,-3.00,-2.47,-2.735,-1.67,-0.67,-1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,SC,579717,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,SC,579729,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ET,580243,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,FT,580375,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,MD,580840,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
eco_df['TEIDS ID'] = eco_df['TEIDS ID'].astype(str)

In [157]:
base_df = base_df.merge(eco_df[['TEIDS ID', 'DISTRICT']], on='TEIDS ID', how='left')

In [221]:
base_df

      TEIDS ID DISTRICT  rawScore
0       474848       SW      23.0
1       474848       SW      23.0
2       474848       SW      33.0
3       474848       SW      23.0
4       474848       SW      10.0
...        ...      ...       ...
53486   564474       ET       NaN
53487   564596       MD       NaN
53488   565093       UC       NaN
53489   565305       ET       NaN
53490   565335       SE       NaN

[53491 rows x 3 columns]

In [199]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53491 entries, 0 to 53490
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEIDS ID  53491 non-null  object
 1   DISTRICT  53491 non-null  object
 2   rawScore  42866 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [203]:
eco_df.info('OC1 - a')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 152 columns):
 #    Column                                                     Dtype
---   ------                                                     -----
 0    DISTRICT                                                   object
 1    TEIDS ID                                                   object
 2    Child ID_ Assessement point                                float64
 3    ECO_Entry_DATE                                             datetime64[ns]
 4    Ent SOCIAL_SCALE                                           float64
 5    Ent KNOWLEDGE_SCALE                                        float64
 6    Ent APPROPRIATE_ACTION_SCALE                               float64
 7    ECO_Exit_DATE                                              datetime64[ns]
 8    Exit SOCIAL_SCALE                                          float64
 9    Exit KNOWLEDGE_SCALE                                       float64
 10   Exit APPROPRIATE_ACTION_SCALE                              float64
 11   ExitIS_SOCIAL_PROGRESS                                     object
 12   ExitIS_KNWLEDGE_PROGRESS                                   object
 13   ExitIS_APPROPRIATE_ACTION_PROGRESS                         object
 14   State ID                                                   float64
 15   LAST_NAME                                                  float64
 16   FIRST_NAME                                                 float64
 17   GENDER                                                     float64
 18   RACE                                                       float64
 19   DOB                                                        float64
 20   COUNTY ID                                                  float64
 21   COUNTY NAME                                                float64
 22   Service Coordinator                                        float64
 23   Initial IFSP Date                                          datetime64[ns]
 24   Exit Reason                                                object
 25   Exit Date
Or end of FY                                    datetime64[ns]
 26   Current LEA                                                float64
 27   Transition LEA                                             float64
 28   Transition Conf. Date                                      float64
 29   <Lookup> Expected Rating                                   object
 30   <Calc> Months in Program                                   int64
 31   <Calc> Entrance Age (months)                               int64
 32   <Calc> Day count                                           float64
 33   <Calc> Month count                                         float64
 34   <Calc> Missing Entrance Date                               float64
 35   <Calc> Missing Exit Dates                                  float64
 36   <Calc> Missing Both Ent & Exit Dates                       float64
 37   <Calc> Record Count                                        int64
 38   <Calc> Day count 182 days +                                float64
 39   <Calc> Exit Day cnt < 182 days                             float64
 40   OC1 No Exit Reason                                         float64
 41   OC2 No Exit Reason                                         float64
 42   OC3 No Exit Reason                                         float64
 43   OC1 Missing Exit Rating                                    float64
 44   OC2 Missing Exit Rating                                    float64
 45   OC3 Missing Exit Rating                                    float64
 46   OC1 Conc                                                   object
 47   OC2 Conc                                                   object
 48   OC3 Conc                                                   object
 49   OC1 Impossible Combination                                 float64
 50   OC2 Impossible Combination                                 float64
 51   OC3 Impossible Combination                                 float64
 52   Impossible Outcome Total                                   float64
 53   OC1 Not Expected                                           float64
 54   OC2 Not Expected                                           float64
 55   OC3 Not Expected                                           float64
 56   <Calc> Day count less than 182                             float64
 57   OC1 Useable Data                                           float64
 58   OC2 Useable Data                                           float64
 59   OC3 Useable Data                                           float64
 60   Usable Data on at least one Outcome                        float64
 61   Usable Data on All 3 Outcomes                              float64
 62   OC1 - a                                                    float64
 63   OC1 - b                                                    float64
 64   OC1 - c                                                    float64
 65   OC1 - d                                                    float64
 66   OC1 - e                                                    float64
 67   OC1 Data Check                                             int64
 68   OC2 - a                                                    float64
 69   OC2 - b                                                    float64
 70   OC2 - c                                                    float64
 71   OC2 - d                                                    float64
 72   OC2 - e                                                    float64
 73   OC2 Data Check                                             int64
 74   OC3 - a                                                    float64
 75   OC3 - b                                                    float64
 76   OC3 - c                                                    float64
 77   OC3 - d                                                    float64
 78   OC3 - e                                                    float64
 79   OC3 Data Check                                             int64
 80   Days btw Initial and Exit                                  int64
 81   Days btw I-IFSP to Exit ECO                                int64
 82   Days btw I-IFSP to entry ECO                               int64
 83   TEIDS
ECO_Entry_DATE                                       datetime64[ns]
 84   TEIDS
ECO Entry SOCIAL_SCALE                               float64
 85   TEIDS
ECO Entry KNOWLEDGE_SCALE                            float64
 86   TEIDS
ECO Entry APPROPRIATE_ACTION_SCALE                   float64
 87   Found Exit                                                 object
 88   Found Continued                                            object
 89   ECO_Continued_DATE                                         datetime64[ns]
 90   Continued SOCIAL_SCALE                                     float64
 91   Continued KNOWLEDGE_SCALE                                  float64
 92   Continued APPROPRIATE_ACTION_SCALE                         float64
 93   Continued IS_SOCIAL_PROGRESS                               object
 94   Continued IS_KNOWLEDGE_PROGRESS                            object
 95   Continued IS_APPROPRIATE_ACTION_PROGRESS                   object
 96   Days between Exit ECO to Exit
(Exit date - Exit ECO date)  float64
 97   More than 182 days btwn ECO (continued) and Exit?          object
 98   AEPSi
ECO_Entry_DATE                                       datetime64[ns]
 99   AEPSi
Ent SOCIAL_SCALE                                    float64
 100  AEPSI
Ent KNOWLEDGE_SCALE                                  float64
 101  AEPSi
Ent APPROPRIATE_ACTION_SCALE                        float64
 102  AEPSi
ECO_Exit_DATE                                       datetime64[ns]
 103  AEPSi
Exit SOCIAL_SCALE                                   float64
 104  AEPSi
Exit KNOWLEDGE_SCALE                                float64
 105  AEPSi
Exit APPROPRIATE_ACTION_SCALE                       float64
 106  AEPSi
ExitIS_SOCIAL_PROGRESS                              object
 107  AEPSi
ExitIS_KNOWLEDGE_PROGRESS                           object
 108  AEPSi
ExitIS_APPROPRIATE_ACTION_PROGRESS                  object
 109  AEPS 202223.2
Entry only data
Entry date                   datetime64[ns]
 110  Ent SOCIAL_SCALE.1                                         object
 111  Ent KNOWLEDGE_SCALE.1                                      float64
 112  Ent APPROPRIATE_ACTION_SCALE.1                             float64
 113  TEIDS ID 2                                                 float64
 114  Lookup from BDI3                                           float64
 115  BDI 3
ECO_Entry_DATE                                       datetime64[ns]
 116  BDI3
Entry SOCIAL_SCALE                                   float64
 117  BDI3
Entry KNOWLEDGE_SCALE                                 float64
 118  BDI3
Entry APPROPRIATE_ACTION_SCALE                        float64
 119  Entrance
BDI-3 S/E Std Dev (Z Score)                       float64
 120  Entrance
BDI-3 Communication Std Dev                       float64
 121  Entrance
BDI-3 Cognition Std. Dev                          float64
 122  Entrance
Combined STD Dev for Comm & Cog                   float64
 123  Entrance
BDI-3 Adaptive Std. Dev.                          float64
 124  Entrance
BDI-3 Motor Std. Dev                              float64
 125  Entrance
Combined STD Dev for Adaptive & Motor             float64
 126  BDI 3
ECO_Exit_DATE                                        datetime64[ns]
 127  BDI3
Exit SOCIAL_SCALE                                    float64
 128  BDI3
Exit KNOWLEDGE_SCALE                                  float64
 129  BDI3
Exit APPROPRIATE_ACTION_SCALE                         float64
 130  BDI 3
ExitIS_SOCIAL_PROGRESS                               float64
 131  BDI 3
ExitIS_KNOWLEDGE_PROGRESS                            float64
 132  BDI 3 ExitIS_APPROPRIATE_ACTION_PROGRESS                   float64
 133  Exit
BDI-3 S/E Std Dev (Z Score)                           float64
 134  Exit
BDI-3 Communication Std Dev                           float64
 135  Exit
BDI-3 Cognition Std. Dev                              float64
 136  Exit
Combined STD Dev for Comm & Cog                       float64
 137  Exit
BDI-3 Adaptive Std. Dev.                              float64
 138  Exit
BDI-3 Motor Std. Dev                                  float64
 139  Exit
Combined STD Dev for Adaptive & Motor                 float64
 140  Lookup from BDI2                                           float64
 141  BDI2 Entry Date                                            datetime64[ns]
 142  BDI-2
Entry SOCIAL_SCALE                                   float64
 143  BDI-2
Entry KNOWLEDGE_SCALE                                float64
 144  BDI-2
Entry APPROPRIATE_ACTION_SCALE                       float64
 145  BDI2 Entrance S/E
Std Dev (Zscore)                         float64
 146  BDI2 Entrance
Communication Std Dev. (Z Score)             float64
 147  BDI2 Entrance
Cognition Std Dev. (Z Score)                 float64
 148  BDI2 Entrance
K/S
Std Dev (Zscore)                         float64
 149  BDI2 Entrance
Adaptive Std Dev (Zscore)                    float64
 150  BDI2 Entrance
Motor Std Dev (Zscore)                       float64
 151  BDI2 Entrance
A/B
Std Dev (Zscore)                         float64
dtypes: datetime64[ns](12), float64(111), int64(9), object(20)
memory usage: 11.6+ MB

In [241]:
base_df = base_df.merge(eco_df[['TEIDS ID', 'OC1 - a']], on='TEIDS ID', how='left')

In [265]:
gn_pop = base_df[(base_df['OC1 - a'] == 1) & (base_df['DISTRICT'] == 'GN')]

In [267]:
gn_pop

      TEIDS ID DISTRICT  rawScore  OC1 - a
344     490134       GN       NaN      1.0
815     494142       GN      19.0      1.0
816     494142       GN      16.0      1.0
817     494142       GN      26.0      1.0
818     494142       GN      17.0      1.0
...        ...      ...       ...      ...
53297   556110       GN       NaN      1.0
53370   557248       GN       NaN      1.0
53407   558790       GN       NaN      1.0
53415   559241       GN       NaN      1.0
53434   560435       GN       NaN      1.0

[1005 rows x 4 columns]

In [279]:
oca_pop = base_df[base_df['OC1 - a'] == 1]

In [293]:
oca_pop['DISTRICT'].value_counts()

DISTRICT
ET    1138
GN    1005
SC     923
MD     763
UC     595
FT     483
SE     321
SW     241
NW      58
Name: count, dtype: int64

In [291]:
oca_pop.drop_duplicates()

      TEIDS ID DISTRICT  rawScore  OC1 - a
307     488983       SE      22.0      1.0
308     488983       SE      31.0      1.0
309     488983       SE      15.0      1.0
310     488983       SE      13.0      1.0
311     488983       SE      12.0      1.0
...        ...      ...       ...      ...
53458   561585       MD       NaN      1.0
53466   562179       ET       NaN      1.0
53470   562432       MD       NaN      1.0
53472   562614       SW       NaN      1.0
53483   563483       SW       NaN      1.0

[3957 rows x 4 columns]

In [297]:
base_df = base_df.merge(bdi2_df[['TEIDS ID', 'ZScore']], on='TEIDS ID', how='left')

In [303]:
base_df.rename(columns={'ZScore':'BDI2 ZScore'})

       TEIDS ID DISTRICT  rawScore  OC1 - a  BDI2 ZScore
0        474848       SW      23.0      NaN        -1.67
1        474848       SW      23.0      NaN        -1.67
2        474848       SW      23.0      NaN        -2.00
3        474848       SW      23.0      NaN        -2.00
4        474848       SW      23.0      NaN        -2.00
...         ...      ...       ...      ...          ...
991262   564474       ET       NaN      NaN          NaN
991263   564596       MD       NaN      NaN          NaN
991264   565093       UC       NaN      NaN          NaN
991265   565305       ET       NaN      NaN          NaN
991266   565335       SE       NaN      NaN          NaN

[991267 rows x 5 columns]

In [ ]:
base_df.merge(bdi3_df[['TEIDS ID', 'ZScore']], on='TEIDS ID', how='left')