In [1]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mrmik\AppData\Local\Temp\ipykernel_203104\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\__init__.py", line 39, in <module>
    from pandas.compat import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\compat\__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\compat\pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mrmik\AppData\Local\Temp\ipykernel_203104\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\dtypes\dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mrmik\AppData\Local\Temp\ipykernel_203104\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\mrmik\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\Users\mrmik\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mrmik\AppData\Local\Temp\ipykernel_203104\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\mrmik\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\mrmik\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

In [3]:
bdi2_df = pd.read_csv(r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\NSS data_BDI2 scores_20200101-20230131_20241106.csv", low_memory=False)

In [7]:
bdi3_df = pd.read_excel(r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\NSS data_BDI3 Scores 20230101 20240630_Compiled_20241107.xlsx")

In [9]:
filepath = r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx"
eco_sheet = "ECO with Exit23-24 "
bdi_eco = pd.read_excel(filepath, sheet_name=eco_sheet)

In [11]:
entry_exit = bdi_eco[(bdi_eco['OC1 Data Check']==1)][['CHILD_ID','ECO_Entry_DATE','BDI 3\nECO_Entry_DATE','BDI 3\nECO_Exit_DATE','BDI2 Entry Date']]
entry_exit.rename(columns={'CHILD_ID':'TEIDS Child ID'}, inplace=True)
bdi3_exit = entry_exit.merge(bdi3_df,how='inner',left_on=['TEIDS Child ID','BDI 3\nECO_Exit_DATE'],right_on=['TEIDS Child ID','Adaptive-Self Care Date of Testing'])
bdi3_entry = entry_exit.merge(bdi3_df,how='inner',left_on=['TEIDS Child ID','BDI 3\nECO_Entry_DATE'],right_on=['TEIDS Child ID','Adaptive-Self Care Date of Testing'])

In [13]:
entry_exit

,TEIDS Child ID,ECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date
0,473991,2020-01-07,NaT,NaT,NaT
1,474186,2020-02-13,NaT,2023-10-26,NaT
2,474575,2020-01-17,NaT,NaT,NaT
3,474623,2019-01-22,NaT,NaT,2020-01-08
4,474848,2021-07-09,NaT,2023-08-04,2021-06-22
...,...,...,...,...,...
7925,567392,2023-11-17,2023-11-17,2024-10-14,NaT
7927,567510,2023-11-30,2023-11-30,2024-10-02,NaT
7928,567756,2023-12-05,2023-12-05,2024-09-09,NaT
7934,568323,2023-12-06,2023-12-06,2024-10-01,NaT
7935,568536,2023-12-14,2023-12-14,2024-08-27,NaT

In [15]:
bdi3_exit

,TEIDS Child ID,ECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Last Name,First Name,Gender,Date of Birth,Location - Root Level (PC),...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,474186,2020-02-13,NaT,2023-10-26,NaT,NaN,NaN,NaN,NaN,NaN,...,24.0,8.0,25,40,68/90,510.0,502 - 517,0.67,43.0,36
1,474848,2021-07-09,NaT,2023-08-04,2021-06-22,NaN,NaN,NaN,NaN,NaN,...,17.0,6.0,9,32,25/90,487.0,476 - 497,1.33,37.0,22
2,474967,2020-01-31,NaT,2023-07-31,2020-01-07,NaN,NaN,NaN,NaN,NaN,...,12.0,3.0,1,22,1990-01-01 00:00:00,451.0,429 - 473,2.33,27.0,1
3,475636,2020-09-03,NaT,2023-07-19,NaT,NaN,NaN,NaN,NaN,NaN,...,8.0,1.0,<1,8,<1/90,395.0,376 - 415,3.00,20.0,<1
4,475907,2020-02-20,NaT,2023-11-15,2020-01-17,NaN,NaN,NaN,NaN,NaN,...,11.0,1.0,<1,18,<1/90,437.0,421 - 453,3.00,20.0,<1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5683,564474,2023-10-09,2023-10-09,2024-05-07,NaT,NaN,NaN,NaN,NaN,NaN,...,5.0,1.0,<1,5,<1/90,370.0,355 - 386,3.00,20.0,<1
5684,564596,2023-10-26,2023-10-26,2024-05-10,NaT,NaN,NaN,NaN,NaN,NaN,...,16.0,9.0,37,31,73/90,482.0,471 - 493,0.33,47.0,43
5685,565093,2023-10-18,2023-10-18,2024-04-08,NaT,NaN,NaN,NaN,NaN,NaN,...,16.0,9.0,37,31,73/90,482.0,471 - 493,0.33,47.0,43
5686,565305,2023-10-23,2023-10-23,2024-05-30,NaT,NaN,NaN,NaN,NaN,NaN,...,22.0,12.0,75,39,97/90,505.0,497 - 513,0.67,57.0,64
5687,565335,2023-10-17,2023-10-17,2024-05-20,NaT,NaN,NaN,NaN,NaN,NaN,...,8.0,1.0,<1,8,<1/90,395.0,376 - 415,3.00,20.0,<1

In [17]:
bdi3_entry

,TEIDS Child ID,ECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Last Name,First Name,Gender,Date of Birth,Location - Root Level (PC),...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,486692,2023-05-23,2023-05-23,2024-03-13,NaT,NaN,NaN,NaN,NaN,NaN,...,13.0,7.0,16,25,27/90,464.0,450 - 479,1.00,40.0,29
1,490073,2023-01-12,2023-01-12,2023-09-07,NaT,NaN,NaN,NaN,NaN,NaN,...,10.0,5.0,5,15,1990-04-01 00:00:00,426.0,408 - 444,1.67,33.0,15
2,490134,2023-03-28,2023-03-28,2024-01-29,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,6.0,9,22,19/90,451.0,429 - 473,1.33,37.0,22
3,490333,2023-06-15,2023-06-15,2023-06-15,NaT,NaN,NaN,NaN,NaN,NaN,...,14.0,7.0,16,28,45/90,471.0,459 - 484,1.00,40.0,29
4,490333,2023-06-15,2023-06-15,2023-06-15,NaT,NaN,NaN,NaN,NaN,NaN,...,15.0,8.0,25,29,61/90,477.0,466 - 488,0.67,43.0,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,567392,2023-11-17,2023-11-17,2024-10-14,NaT,NaN,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8
1402,567510,2023-11-30,2023-11-30,2024-10-02,NaT,NaN,NaN,NaN,NaN,NaN,...,23.0,13.0,84,40,99/90,507.0,500 - 515,1.00,60.0,71
1403,567756,2023-12-05,2023-12-05,2024-09-09,NaT,NaN,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8
1404,568323,2023-12-06,2023-12-06,2024-10-01,NaT,NaN,NaN,NaN,NaN,NaN,...,10.0,3.0,1,15,1990-01-01 00:00:00,426.0,408 - 444,2.33,27.0,1
1405,568536,2023-12-14,2023-12-14,2024-08-27,NaT,NaN,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8

In [19]:
filepath = r"C:\Users\mrmik\OneDrive\Desktop\NSS\Python\Projects\teis-mikeriello\data\NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx"
eco_sheet = "ECO with Exit23-24 "
eco_df = pd.read_excel(filepath, sheet_name=eco_sheet)

In [21]:
bdi2_df['testDate'] = pd.to_datetime(bdi2_df['testDate'])
bdi3_df['Adaptive-Self Care Date of Testing'] = pd.to_datetime(bdi3_df['Adaptive-Self Care Date of Testing'])
entry_exit = eco_df[(eco_df['OC1 Data Check']==1)][['CHILD_ID','ECO_Entry_DATE','ECO_Exit_DATE','BDI 3\nECO_Entry_DATE','BDI 3\nECO_Exit_DATE','BDI2 Entry Date']]
entry_exit.rename(columns={'CHILD_ID':'TEIDS Child ID'}, inplace=True)
bdi3_exit = entry_exit.merge(bdi3_df,how='inner',left_on=['TEIDS Child ID','BDI 3\nECO_Exit_DATE'],right_on=['TEIDS Child ID','Adaptive-Self Care Date of Testing'])
bdi3_entry = entry_exit.merge(bdi3_df,how='inner',left_on=['TEIDS Child ID','BDI 3\nECO_Entry_DATE'],right_on=['TEIDS Child ID','Adaptive-Self Care Date of Testing'])

In [23]:
entry_exit['TEIDS Child ID'] = entry_exit['TEIDS Child ID'].astype(str)

In [25]:
bdi2_entry_subdomains = entry_exit.merge(bdi2_df,how='inner',left_on=['TEIDS Child ID','BDI2 Entry Date'],right_on=['Student TEIDS ID','testDate'])
bdi2_entry = bdi2_df[bdi2_df['studentAssessmentID'].isin(bdi2_entry_subdomains['studentAssessmentID'])]

In [56]:
def bdi3_entry_get_score(child_id,domainText,score):
    return bdi3_entry[(bdi3_entry['TEIDS Child ID']==545193)][f'{domainText}{score}']

In [58]:
bdi3_entry_get_score(545193, 'Adaptive', '-Personal Responsibility SS')

343    5.0
344    5.0
Name: Adaptive-Personal Responsibility SS, dtype: float64

In [32]:
bdi3_exit[(bdi3_exit['TEIDS Child ID'].isin(bdi3_entry['TEIDS Child ID']))|(bdi3_exit['TEIDS Child ID'].isin(bdi2_entry['Student TEIDS ID']))]['TEIDS Child ID']

50      486692
118     490073
122     490134
133     490333
134     490333
         ...
5683    564474
5684    564596
5685    565093
5686    565305
5687    565335
Name: TEIDS Child ID, Length: 1255, dtype: int64

In [34]:
dtype={'Student TEIDS ID': 'str'}

In [36]:
bdi3_entry

,TEIDS Child ID,ECO_Entry_DATE,ECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Last Name,First Name,Gender,Date of Birth,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,486692,2023-05-23,2024-03-13,2023-05-23,2024-03-13,NaT,NaN,NaN,NaN,NaN,...,13.0,7.0,16,25,27/90,464.0,450 - 479,1.00,40.0,29
1,490073,2023-01-12,2023-09-07,2023-01-12,2023-09-07,NaT,NaN,NaN,NaN,NaN,...,10.0,5.0,5,15,1990-04-01 00:00:00,426.0,408 - 444,1.67,33.0,15
2,490134,2023-03-28,2024-01-29,2023-03-28,2024-01-29,NaT,NaN,NaN,NaN,NaN,...,12.0,6.0,9,22,19/90,451.0,429 - 473,1.33,37.0,22
3,490333,2023-06-15,2023-06-15,2023-06-15,2023-06-15,NaT,NaN,NaN,NaN,NaN,...,14.0,7.0,16,28,45/90,471.0,459 - 484,1.00,40.0,29
4,490333,2023-06-15,2023-06-15,2023-06-15,2023-06-15,NaT,NaN,NaN,NaN,NaN,...,15.0,8.0,25,29,61/90,477.0,466 - 488,0.67,43.0,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,567392,2023-11-17,2024-10-14,2023-11-17,2024-10-14,NaT,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8
1402,567510,2023-11-30,2024-10-02,2023-11-30,2024-10-02,NaT,NaN,NaN,NaN,NaN,...,23.0,13.0,84,40,99/90,507.0,500 - 515,1.00,60.0,71
1403,567756,2023-12-05,2024-09-09,2023-12-05,2024-09-09,NaT,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8
1404,568323,2023-12-06,2024-10-01,2023-12-06,2024-10-01,NaT,NaN,NaN,NaN,NaN,...,10.0,3.0,1,15,1990-01-01 00:00:00,426.0,408 - 444,2.33,27.0,1
1405,568536,2023-12-14,2024-08-27,2023-12-14,2024-08-27,NaT,NaN,NaN,NaN,NaN,...,10.0,4.0,2,15,1990-02-01 00:00:00,426.0,408 - 444,2.00,30.0,8

In [38]:
bdi3_exit

,TEIDS Child ID,ECO_Entry_DATE,ECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Last Name,First Name,Gender,Date of Birth,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,474186,2020-02-13,2023-10-26,NaT,2023-10-26,NaT,NaN,NaN,NaN,NaN,...,24.0,8.0,25,40,68/90,510.0,502 - 517,0.67,43.0,36
1,474848,2021-07-09,2023-08-04,NaT,2023-08-04,2021-06-22,NaN,NaN,NaN,NaN,...,17.0,6.0,9,32,25/90,487.0,476 - 497,1.33,37.0,22
2,474967,2020-01-31,2023-07-31,NaT,2023-07-31,2020-01-07,NaN,NaN,NaN,NaN,...,12.0,3.0,1,22,1990-01-01 00:00:00,451.0,429 - 473,2.33,27.0,1
3,475636,2020-09-03,2023-07-19,NaT,2023-07-19,NaT,NaN,NaN,NaN,NaN,...,8.0,1.0,<1,8,<1/90,395.0,376 - 415,3.00,20.0,<1
4,475907,2020-02-20,2023-11-15,NaT,2023-11-15,2020-01-17,NaN,NaN,NaN,NaN,...,11.0,1.0,<1,18,<1/90,437.0,421 - 453,3.00,20.0,<1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5683,564474,2023-10-09,2024-05-07,2023-10-09,2024-05-07,NaT,NaN,NaN,NaN,NaN,...,5.0,1.0,<1,5,<1/90,370.0,355 - 386,3.00,20.0,<1
5684,564596,2023-10-26,2024-05-10,2023-10-26,2024-05-10,NaT,NaN,NaN,NaN,NaN,...,16.0,9.0,37,31,73/90,482.0,471 - 493,0.33,47.0,43
5685,565093,2023-10-18,2024-04-08,2023-10-18,2024-04-08,NaT,NaN,NaN,NaN,NaN,...,16.0,9.0,37,31,73/90,482.0,471 - 493,0.33,47.0,43
5686,565305,2023-10-23,2024-05-30,2023-10-23,2024-05-30,NaT,NaN,NaN,NaN,NaN,...,22.0,12.0,75,39,97/90,505.0,497 - 513,0.67,57.0,64
5687,565335,2023-10-17,2024-05-20,2023-10-17,2024-05-20,NaT,NaN,NaN,NaN,NaN,...,8.0,1.0,<1,8,<1/90,395.0,376 - 415,3.00,20.0,<1

In [40]:
entry_exit

,TEIDS Child ID,ECO_Entry_DATE,ECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date
0,473991,2020-01-07,2022-12-27,NaT,NaT,NaT
1,474186,2020-02-13,2023-10-26,NaT,2023-10-26,NaT
2,474575,2020-01-17,2020-07-29,NaT,NaT,NaT
3,474623,2019-01-22,2022-12-16,NaT,NaT,2020-01-08
4,474848,2021-07-09,2023-08-04,NaT,2023-08-04,2021-06-22
...,...,...,...,...,...,...
7925,567392,2023-11-17,2024-10-14,2023-11-17,2024-10-14,NaT
7927,567510,2023-11-30,2024-10-02,2023-11-30,2024-10-02,NaT
7928,567756,2023-12-05,2024-09-09,2023-12-05,2024-09-09,NaT
7934,568323,2023-12-06,2024-10-01,2023-12-06,2024-10-01,NaT
7935,568536,2023-12-14,2024-08-27,2023-12-14,2024-08-27,NaT

In [42]:
bdi3_exit.loc[bdi3_exit['TEIDS Child ID'] == 504273]

,TEIDS Child ID,ECO_Entry_DATE,ECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,Last Name,First Name,Gender,Date of Birth,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
883,504273,2021-07-23,2024-04-16,NaT,2024-04-16,2021-06-04,NaN,NaN,NaN,NaN,...,8.0,1.0,<1,8,<1/90,395.0,376 - 415,3.0,20.0,<1

In [44]:
bdi3_entry.loc[bdi3_entry['TEIDS Child ID'] == 504273]

Empty DataFrame
Columns: [TEIDS Child ID, ECO_Entry_DATE, ECO_Exit_DATE, BDI 3
ECO_Entry_DATE, BDI 3
ECO_Exit_DATE, BDI2 Entry Date, Last Name, First Name, Gender, Date of Birth, Location - Root Level (PC), Location - Root Level (AH), Location - Sub Level 1, Location - Sub Level 2, Location - Sub Level 3, Child ID, Enrollment Date, Parent/Guardian 1 Name, Parent/Guardian 1 Email, Parent/Guardian 2 Name, Parent/Guardian 2 Email, Primary Language, Race, Ethnicity, IFSP, IEP, Funding Sources, Free Reduced Lunch, Program Label, Adaptive Sum of Scaled Scores, Adaptive Developmental Quotient, Adaptive Percentile Rank, Adaptive 95% Confidence Interval, Adaptive RDI, Adaptive Z-Score, Adaptive T-Score, Adaptive NCE, Social-Emotional Sum of Scaled Scores, Social-Emotional Developmental Quotient, Social-Emotional Percentile Rank, Social-Emotional 95% Confidence Interval, Social-Emotional RDI, Social-Emotional Z-Score, Social-Emotional T-Score, Social-Emotional NCE, Communication Sum of Scaled Scores, Communication Developmental Quotient, Communication Percentile Rank, Communication 95% Confidence Interval, Communication RDI, Communication Z-Score, Communication T-Score, Communication NCE, Motor Sum of Scaled Scores, Motor Developmental Quotient, Motor Percentile Rank, Motor 95% Confidence Interval, Motor RDI, Motor Z-Score, Motor T-Score, Motor NCE, Cognitive Sum of Scaled Scores, Cognitive Developmental Quotient, Cognitive Percentile Rank, Cognitive 95% Confidence Interval, Cognitive RDI, Cognitive Z-Score, Cognitive T-Score, Cognitive NCE, BDI-3 Total Sum of Scaled Scores, BDI-3 Total Developmental Quotient, BDI-3 Total Percentile Rank, BDI-3 Total 90% Confidence Interval, BDI-3 Total 95% Confidence Interval, BDI-3 Total Z-Score, BDI-3 Total T-Score, BDI-3 Total NCE, Adaptive-Self Care Examiner, Adaptive-Self Care Date of Testing, Adaptive-Self Care RS, Adaptive-Self Care SS, Adaptive-Self Care PR, Adaptive-Self Care AE, Adaptive-Self Care RDI, Adaptive-Self Care CSS, Adaptive-Self Care CSS 90%, Adaptive-Self Care Z-Score, Adaptive-Self Care T-Score, Adaptive-Self Care NCE, Adaptive-Personal Responsibility Examiner, Adaptive-Personal Responsibility Date of Testing, Adaptive-Personal Responsibility RS, Adaptive-Personal Responsibility SS, Adaptive-Personal Responsibility PR, Adaptive-Personal Responsibility AE, Adaptive-Personal Responsibility RDI, Adaptive-Personal Responsibility CSS, Adaptive-Personal Responsibility CSS 90%, Adaptive-Personal Responsibility Z-Score, Adaptive-Personal Responsibility T-Score, ...]
Index: []

[0 rows x 233 columns]

In [46]:
bdi2_df

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2022-02-25,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaT,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [48]:
bdi2_entry['Student TEIDS ID'] = bdi2_entry['Student TEIDS ID'].astype('int64')

C:\Users\mrmik\AppData\Local\Temp\ipykernel_203104\2447718271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bdi2_entry['Student TEIDS ID'] = bdi2_entry['Student TEIDS ID'].astype('int64')

In [50]:
bdi2_entry

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
7830,1939752,7778442,123229652,474623,7,Self-Care,2.0,ItemDetails,28828.0,2020-01-08,...,NaN,1.0,NaN,NaN,NaN,<,287.0,260.0,314.0,2
7831,1939752,7778442,123229653,474623,10,Adult Interaction,2.0,ItemDetails,28828.0,2020-01-08,...,NaN,1.0,NaN,NaN,NaN,NaN,310.0,296.0,324.0,2
7832,1939752,7778442,123229654,474623,12,Self-Concept and Social Role,2.0,ItemDetails,28828.0,2020-01-08,...,NaN,1.0,NaN,NaN,NaN,<,332.0,305.0,359.0,2
7833,1939752,7778442,123229655,474623,14,Receptive Communication,2.0,ItemDetails,28828.0,2020-01-08,...,NaN,1.0,NaN,NaN,NaN,NaN,348.0,337.0,359.0,2
7834,1939752,7778442,123229656,474623,15,Expressive Communication,2.0,ItemDetails,28828.0,2020-01-08,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318228,2320591,8763117,140607939,545801,6,Adaptive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,480.0,474.0,486.0,2
318229,2320591,8763117,140607940,545801,9,Personal-Social,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,471.0,467.0,476.0,2
318230,2320591,8763117,140607941,545801,13,Communication,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,429.0,421.0,436.0,2
318231,2320591,8763117,140607942,545801,16,Motor,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,488.0,482.0,495.0,2
318232,2320591,8763117,140607943,545801,20,Cognitive,NaN,NaN,NaN,NaT,...,NaN,1.0,NaN,NaN,NaN,NaN,456.0,449.0,463.0,2